* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  background-color: #ABD1FF;
  width: 1000px;
  margin: 0px auto;
}

h1 {
  font-size: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#33ccff, #ff99cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  padding: 15px 0px;
}

#graph {
    overflow-x:scroll;
    width: 90%;
    font-size: .8em;
    margin:0 auto;
    white-space:pre;
    border:none;
}
#content {
	margin: 0px auto;
	width:98%;
}

#footer {
	border-top:solid 2px #fff;
	margin-top:20px;
	padding-top:5px;
}

.clear:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background-color: #fef889;
  margin: 10px 0px;
}

.btn:hover {
  background-color: #fcf54c;
}

#message {
	color: #836fff;
	font-size:1.2em;
}
#controls {
	border: dashed 3px #9999BB;
	border-left:none;
	border-right:none;
	margin-bottom: 25px;
	padding:5px 0;
	width:650px;
}
#search_grid  {
	width:650px;
	height:650px;
	position: relative;
}

.grid_item {
	display: block;
	border: 1px solid #bbb;
	float: left;
	line-height:12px;
	font-size:10px;
}
.grid_item.wall {
  background-color: #000000;
}
.grid_item.weight1 {
  background-color: #ffffff;
}
.grid_item.weight3 {
  background-color: #D6EAFF;
}
.grid_item.weight5 {
  background-color: #ABD1FF;
}
.grid_item.start {
	background-color: #FF703F;
}
.grid_item.active {
	background-color: #FF703F;
}
.grid_item.finish {

}
#weightsKey {
  display: none;
}